@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    background-color: #b7f4f8;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container > h1{
   margin-left: 30px;
   margin-right: auto; 
   width: 100px;

}

.container > nav {
    display: flex;
    gap: 20px;
<<<<<<< HEAD
    margin-right:auto ;
=======
    margin-right: auto;
>>>>>>> e95937b5090c3e88d97062a76601d953b7398f53
}

.container > nav > a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.container > nav > a:hover {
    text-decoration: underline;
}

@media (max-width: 568px) {
    body {
        background-color: whitesmoke;
    }

    .container {
        display: flex;
        background-color: #b7f4f8;
        height: 100px;
        flex-direction: column;
    }
}